    <label for="show-menu" class="show-menu">Show Menu</label>
    <input type="checkbox" id="show-menu" role="button">
    <ul id="menu">
		<li><a href="#">Home</a></li>
        <li>
            <a href="#">Blog & social</a>
            <ul class="hidden">
                <li><a href="https://jemostrommain.micro.blog/">Main blog</a></li>
                <li><a href="https://micro.mostrom.eu/">Micro blog</a></li>
                <li><a href="https://social.lol/@jemostrom">Mastodon</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Info 🇸🇪</a>
            <ul class="hidden">
                <li><a href="https://jemostrommain.micro.blog/om">Om</a></li>
                <li><a href="https://jemostrommain.micro.blog/kontakt">Kontakt</a></li>
                <li><a href="https://jemostrommain.micro.blog/foto">Foto</a></li>
                <li><a href="https://jemostrommain.micro.blog/jobbet">Jobbet</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Info 🇬🇧</a>
            <ul class="hidden">
                <li><a href="https://jemostrommain.micro.blog/about">About</a></li>
                <li><a href="https://jemostrommain.micro.blog/contact">Contact</a></li>
                <li><a href="https://jemostrommain.micro.blog/photography">Photography</a></li>  
                <li><a href="https://jemostrommain.micro.blog/work">Work</a></li>  
                <li><a href="https://jemostrommain.micro.blog/courses">Courses</a></li>  
                <li><a href="https://jemostrommain.micro.blog/research">Research</a></li>  
                <li><a href="https://jemostrommain.micro.blog/publications">Publications</a></li>  
            </ul>
        </li>
        <li><a href="#">Photos</a>
        	<ul class="hidden">
                <li><a href="https://glass.photo/jemostrom">Glass</a></li>
                <li><a href="https://flickr.com/photos/jemostrom/">Flickr</a></li>        
            </ul>
        </li>
    </ul>
